@use "./colors";

%transition {
  transition:
    color 0.3s ease,
    background-color 0.3s ease;
}

%focus-visiable {
  &:focus-visible {
    outline: 3px solid colors.$element-focus;
  }
}

body {
  @extend %transition;

  background-color: colors.$background-light;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Lekton, Arial, Helvetica, sans-serif;
  margin: 0;
}

button {
  @extend %transition;
  @extend %focus-visiable;

  background-color: unset;
  border-radius: 10px;
  padding: 0;
}

input,
a {
  @extend %transition;
  @extend %focus-visiable;
}

@media (max-width: 425px) {
  body {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: colors.$background-dark;
  }
}
