body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Lekton, Arial, Helvetica, sans-serif;
}

button,
input {
  border-radius: 10px;
}

button > object {
  border-radius: 5px;
}
