@use "./colors";

body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Lekton, Arial, Helvetica, sans-serif;
}

button,
input {
  border-radius: 10px;

  &:focus {
    border: 0;
    outline: 3px solid colors.$button-focus-outline;
  }
}

button > svg {
  border-radius: 5px;
}

@media screen and (max-width: 425px) {
  body {
    font-size: 16px;
  }
}
