@use "sass:color";

$primary: #1568c9;
$background-light: #edeef0;
$background-dark: #24292e;
$text-white: #fff;
$text-black: #000;
$button-copy-hover: #cedafa;
$error: #f00;
$error-shadow: 0 0 5px #f006;
$shadow: 0 0 5px #0003;
