$primary: #1568c9;
$background-light: #f5f5f5;
$background-dark: #24292e;
$button: $primary;
$button-hover: #004f80;
$button-active: #114770;
$button-disabled: #d9d9d9;
$button-outline: #edf2fe;
$button-outline-focus-border: #1568c9;
