@use "Fonts/fonts";
@use "Styles/normalize";
@use "base";

#app {
  transition: color 0.5s ease, background-color 0.5s ease;
}

@media (prefers-color-scheme: dark) {
  #app,
  a {
    background-color: colors.$background-dark;
    color: colors.$text-white;
  }
}
