@use "Fonts/fonts";
@use "Styles/normalize";

#app  {
  min-height: 100vh;
  transition: color .5s ease, background-color .5s ease;
}

@media (prefers-color-scheme: dark) {
  #app, a {
    background-color: colors.$background-dark;
    color: colors.$text-white;
  }
}